@using MultiLanguage.ExtensionMethods

<!--Add Popup-->
<div id="AddSituation" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width: 580px; z-index: 10052 !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title danger">@Html.Translate("addComponent")</h4>
            </div>
            <div class="scroller" style="height:310px" data-always-visible="0" data-rail-visible1="1">
                <div class="modal-body">
                    <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" name="ComponentForm">
                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("name")</span>
                            <input ng-model="Pop.Name" style="font-size: 14px;" type="text" class="form-control" required>
                        </div>
                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("piece")</span>
                            <input ng-model="Pop.Piece" style="font-size: 14px;" type="number" class="form-control" required>
                        </div>
                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("price")</span>
                            <input ng-model="Pop.Price" style="font-size: 14px;" type="number" class="form-control" required>
                        </div>
                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("bill")</span>
                            @*<input ng-model="Pop.BillNo" style="font-size: 14px;" type="number" class="form-control" required>*@
                            <select class="form-control select2" ng-model="Pop.BillNo" required>
                                <option ng-repeat="x in Bills" type="number" value="{{x.Id}}">{{x.BillNo}}</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("model")</span>
                            <select class="form-control select2" ng-model="Pop.ModelNo" required>
                                <option ng-repeat="x in Models" type="number" value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("category")</span>
                            <select class="form-control select2" ng-model="Pop.CategoryNo" required>
                                <option ng-repeat="x in Categorys" type="number" value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="margin-top:35%;">
                    <input type="hidden" />
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">@Html.Translate("cancel")</button>
                    <button type="submit" class="btn red" ng-disabled="ComponentForm.$invalid" ng-click="AddComponent()">@Html.Translate("save")</button>
                </div>
            </div>
        </div>
    </div>
</div>