@using MultiLanguage.ExtensionMethods

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="BillController">

    <!--Header-->
    <div class="portlet light portlet-fit bordered col-md-12">
        <div class="portlet-title">
            <div class="caption font-dark-gray" style="color:#678098">
                <i class="fa fa-file-excel-o font-dark-gray" style="color:#678098"></i>
                <span class="caption-subject bold uppercase">
                    @Html.Translate("bill")
                </span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided" data-toggle="buttons">
                    <a class="btn blue addnewuserbtn" id="btnAddBillPopup" data-toggle="modal" data-target="#AddBillDetail">
                        @Html.Translate("addBill")
                    </a>
                </div>
            </div>
        </div>

        <div ng-show="RegisterCount==0">
            <h3 style="text-align: center;color:#678098">@Html.Translate("recordNotFoundforListing")</h3>
        </div>

        <!--Table Body-->
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless" ng-show="RegisterCount>0">
                <div class="table-responsive">
                    <table class="table table-hover table-light" ng-table="TableParams" style="margin-bottom: 50px !important;">

                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                        </colgroup>

                        <tbody>
                            <tr ng-repeat="_ in $data">

                                <td data-title="'@Html.Raw(Html.Translate("bill"))'" filter="{ BillNo: 'text'}" sortable="'BillNo'">
                                    <input ng-model="_.BillNo" style="font-size: 14px;" type="text" class="form-control" value="{{ _.BillNo }}">
                                </td>

                                <td data-title="'@Html.Raw(Html.Translate("billDate"))'" filter="{ BillDate: 'text'}" sortable="'BillDate'">
                                    <input ng-model="_.BillDate" style="font-size: 14px;" type="date" class="form-control" value="{{ _.BillDate }}">
                                </td>

                                <td data-title="'@Html.Raw(Html.Translate("insertDate"))'" filter="{ InsertDate: 'text'}" sortable="'InsertDate'">
                                    <input ng-model="_.InsertDate" style="font-size: 14px;" type="date" class="form-control" value="{{ _.InsertDate }}">
                                </td>

                                <td data-title="'@Html.Raw(Html.Translate("comment"))'" style="width:20%;" filter="{ Comment: 'text'}" sortable="'Comment'">
                                    <textarea class="form-control" ng-model="_.Comment" rows="2" value="{{ _.Comment }}"></textarea>
                                </td>

                                <td data-title="'@Html.Raw(Html.Translate("department"))'" filter="{ Type: 'number'}" sortable="'Type'">
                                    <select class="form-control" ng-model="_.Department">
                                        <option ng-repeat="x in Departments" type="number" ng-value="{{x.Value}}">{{x.Text}}</option>
                                    </select>
                                </td>

                                <td data-title="'@Html.Raw(Html.Translate("price"))'" filter="{ Price: 'number'}" sortable="'Price'">
                                    <input ng-model="_.Price" style="font-size: 14px;" type="number" class="form-control" value="{{ _.Price }}" disabled>
                                </td>

                                <td>
                                    <div class="btn-group absoluteitem">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="md-click-circle md-click-animate" style="height: 105px; width: 105px; top: -47.45px; left: 37.5px;"></span>@Html.Translate("transactions")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="ms-hover">
                                                <a class="addphone" title="Items" data-toggle="modal" data-target="#BillItemsPopup" ng-click="GetItems(_);">
                                                    <i class="fa fa-share "></i>@Html.Translate("items")
                                                </a>
                                            </li>
                                            @*<li class="ms-hover" ng-hide="_.Piece<=0" data-toggle="modal" data-target="#AddAssignment">
                                                    <a class="viewuserbtn" data-toggle="modal" ng-click="SetPiece(_)">
                                                        <i class="fa fa-eject"></i>Assign
                                                    </a>
                                                </li>*@
                                            <li class="ms-hover">
                                                <a class="viewuserbtn" title="Update" data-toggle="modal" ng-click="UpdateBillConfirm(_)">
                                                    <i class="fa fa-edit "></i>@Html.Translate("update")
                                                </a>
                                            </li>
                                            <li class="ms-hover">
                                                <a class="addphone" title="Delete" data-toggle="modal" ng-click="DeleteBillConfirm(_)">
                                                    <i class="fa fa-trash "></i>@Html.Translate("delete")
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="6" class="no-margin no-padding">
                                    <span class="label label-primary" style="margin-left: -20px; font-size: 11px;"> @Html.Translate("totalNumberofRecords"): {{RegisterCount}}</span>
                                </td>
                            </tr>

                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <partial name="~/Views/Shared/Partials/Bill/BillItemsPopup.cshtml" />
    <partial name="~/Views/Shared/Partials/Bill/AddBillDetailsPopup.cshtml" />
    <partial name="~/Views/Shared/Partials/Bill/AddBillPopup.cshtml" />
    <partial name="~/Views/Shared/Partials/Bill/AddAssignmentPartial.cshtml" />
</div>


@section PageScript
    {
    <script src="~/AngularControllers/Services/ComponentService.js"></script>
    <script src="~/AngularControllers/Services/ComponentModelService.js"></script>
    <script src="~/AngularControllers/Services/FixtureService.js"></script>
    <script src="~/AngularControllers/Services/FixtureModelService.js"></script>
    <script src="~/AngularControllers/Services/AccessoryService.js"></script>
    <script src="~/AngularControllers/Services/AccessoryModelService.js"></script>
    <script src="~/AngularControllers/Services/CategoryService.js"></script>
    <script src="~/AngularControllers/Services/EnumService.js"></script>
    <script src="~/AngularControllers/Services/AssignmentService.js"></script>
    <script src="~/AngularControllers/Services/UserService.js"></script>
    <script src="~/AngularControllers/Services/BillTypeService.js"></script>
    <script src="~/AngularControllers/Services/BillService.js"></script>
    <script src="~/AngularControllers/Controllers/AssignmentController.js"></script>
    <script src="~/AngularControllers/Controllers/BillController.js"></script>
}