@{
    ViewData["Title"] = "Home Page";
}

<div ng-controller="HomeController">

    @Html.Partial("~/Views/Shared/Partials/Dashboard/QuadPanelPartial.cshtml")

    @Html.Partial("~/Views/Shared/Partials/Dashboard/LogPartial.cshtml")

    @Html.Partial("~/Views/Shared/Partials/Dashboard/ChatPartial.cshtml")

    @Html.Partial("~/Views/Shared/Partials/Dashboard/TasksPartial.cshtml")

    @Html.Partial("~/Views/Shared/Partials/Dashboard/DemandPartial.cshtml")



    <!--Popups-->
    @Html.Partial("~/Views/Shared/Partials/Dashboard/TaskAddPopupPartial.cshtml")

    @Html.Partial("~/Views/Shared/Partials/Dashboard/TaskUpdatePopupPartial.cshtml")

    @Html.Partial("~/Views/Shared/Partials/Dashboard/TaskDetailPopupPartial.cshtml")

</div>



@section PageScript
    {
    <script src="~/js/SignalR/signalr.min.js"></script>
    <script src="~/AngularControllers/Services/UserService.js"></script>
    <script src="~/AngularControllers/Services/TaskService.js"></script>
    <script src="~/AngularControllers/Services/MessageService.js"></script>
    <script src="~/AngularControllers/Services/LogService.js"></script>
    <script src="~/AngularControllers/Controllers/HomeController.js"></script>
}