@using MultiLanguage.ExtensionMethods

<!--Add Popup-->
<div id="AddTask" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px;z-index:10052!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title danger">@Html.Translate("newTask")</h4>
            </div>
            <div class="scroller" style="height:400px" data-always-visible="0" data-rail-visible1="1">
                <div class="modal-body">
                    <div class="col-md-9">
                        <span>@Html.Translate("taskStartDate")</span>
                        <div class="input-icon">
                            <i class="fa fa-bell-o"></i>
                            <input ng-model="Pop.startDate" style="font-size: 14px;" type="date" class="form-control">
                        </div>
                        <br />
                        <span>@Html.Translate("taskEndDate")</span>
                        <div class="input-icon">
                            <i class="fa fa-bell-o"></i>
                            <input ng-model="Pop.endDate" style="font-size: 14px;" type="date" class="form-control">
                        </div>
                        <br />
                        <span>@Html.Translate("taskDetail")</span>
                        <div class="input-icon">
                            <textarea ng-model="Pop.taskDetail" rows="3" style="font-size: 14px;" type="text" class="form-control"></textarea>
                        </div>
                        <br />
                        <span>@Html.Translate("count")</span>
                        <div class="input-icon">
                            <i class="fa fa-arrow-circle-up"></i>
                            @*<input ng-model="Pop.count" style="font-size: 14px;" type="number" class="form-control">*@
                            <select class="form-control" ng-model="Pop.count">
                                <option ng-value="0">0</option>
                                <option ng-value="1">1</option>
                                <option ng-value="2">2</option>
                                <option ng-value="3">3</option>
                            </select>
                        </div>


                    </div>
                </div>
                <div class="modal-footer" style="margin-top:80%;">
                    <input type="hidden" />
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">@Html.Translate("cancel")</button>
                    <button type="submit" class="btn red" ng-click="AddTask()">@Html.Translate("save")</button>
                </div>
            </div>
        </div>
    </div>
</div>