@using Microsoft.AspNetCore.Localization
@using MultiLanguage.ExtensionMethods

@{ var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    List<SelectListItem> cultureList = Html.GetCultures();
}

@*<form id="selectLanguage" asp-controller="Home"
          asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
          method="post" role="form" style="width: 100%">
        <select class="form-control" name="culture"
                asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureList" onchange="this.form.submit()"></select>
    </form>*@


<li class="dropdown dropdown-language">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img alt="" src="../assets/global/img/flags/@(@requestCulture.RequestCulture.UICulture.Name).png">
        <span class="langname"> @requestCulture.RequestCulture.UICulture.Name </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">

        @foreach (var item in cultureList)
        {
            if (item == cultureList[0])
            {
                <li ng-click="setLanguage('@item.Value', '@Context.Request.Path')">
                    <a href="javascript:;">
                        <img alt="" src="../assets/global/img/flags/@(item.Value).png"> @item.Text
                    </a>
                </li>
            }
            else
            {
                <li ng-click="setLanguage('@item.Value', '@Context.Request.Path')">
                    <a href="javascript:;">
                        <img alt="" src="../assets/global/img/flags/@(item.Value).png"> @item.Text
                    </a>
                </li>
            }

        }

    </ul>
</li>
