

<style>
    .disabled_node {
        color: #ddd;
    }
</style>

@model UltimateDemerbas.Controllers.UserController.MenuListResult

@if (Model.Menus != null)
{
    foreach (var menu in Model.Menus)
    {

        <ul>

            <li data-menuValue="@menu.Id" data-name="@menu.Name">
                @menu.Name
                @if (menu.Children != null)
                {
                    foreach (var item in menu.Children)
                    {

                        <ul>
                            @if (item != null)
                            {
                                <li data-menuValue="@item.Id" data-name="@item.Name" class="target">
                                    @item.Name
                                </li>
                            }

                        </ul>
                    }

                }
            </li>

        </ul>
    }
}

<script>
    $(".target").hide();
</script>
