
<style>
    .disabled_node {
        color: #ddd;
    }
</style>


@model UltimateDemerbas.Controllers.UserController.MenuListResult




<ul>
    @foreach (var menu in Model.Menus)
    {
        <li data-id="@menu.Id" data-name="@menu.Name" data-companyRefId="@menu.Id">
            @menu.Name

            @if (menu.Children != null)
            {
                @foreach (var childMenu in menu.Children)
                {
                    <ul>
                        <li data-id="@childMenu.Id" data-name="@childMenu.Name" data-companyRefId="@childMenu.Id">
                            @childMenu.Name
                        </li>
                    </ul>
                }
            }


        </li>
    }
</ul>






<script>
    $(".target").hide();
</script>
