@using MultiLanguage.ExtensionMethods
@model UltimateDemerbas.Controllers.UserController.MenuListResult


<div class="modal-dialog" style="width: 900px;height: 900px;" ng-controller="CompanyUserEditController as ctrl">

    <div id="userMenuUpdatePopup_" class="modal fade" tabindex="-1" aria-hidden="true" style="z-index: 10052 !important;margin-top: -80px;">
        <div class="modal-dialog" style="top: 5%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" ng-click="userMenuCancelPopup()"></button>
                    <div>
                        <div class="col-md-4">

                            <h4 class="modal-title">@Html.Translate("menus")</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group" style="position: fixed; top: 55px; z-index: 10052 !important; margin-left: -2px; margin-right: 9px;">
                            <span class="input-group-addon">
                                <label><span class="label bg-green">@Html.Translate("findMenu")</span></label>
                            </span>
                            <input type="text" data-menuValueList="" class="form-control" id="txtUserMenue" onkeyup="" style="width: 60%;" />
                            <div class="col-md-2">
                                <button type="button" class="btn green" aria-hidden="true" ng-click="selectAllUserMenuCheckbox()">@Html.Translate("all")</button>
                            </div>

                            <div class="col-md-2">
                                <button type="button" class="btn dark btn-outline" aria-hidden="true" ng-click="deselectAllUserMenuCheckbox()">@Html.Translate("remove")</button>
                            </div>
                        </div>
                    </div>
                    <div style="overflow-y: scroll; overflow-x: hidden; max-height: 700px;">
                        <div id="WebUserMenuUpdateTree" style="height: auto; display: block; padding-top: 3px;">
                            @Html.Partial("~/Views/Shared/Partials/User/CompanyUserMenuTreePartial.cshtml", Model)
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" ng-click="userMenuCancelPopup()">@Html.Translate("cancel")</button>
                    <button type="button" class="btn green" ng-disabled="generalValidation" ng-click="userMenuApprove()">@Html.Translate("confirm")</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">@Html.Translate("personnelEdit") - {{$parent.AssignPopup.Name}}</h4>
        </div>
        <div class="scroller" style="height:320px" data-always-visible="0" data-rail-visible1="1">
            <br />
            <div class="tab-pane" id="userMenuTabs">
                <div data-toggle="modal" data-target="#userMenuUpdatePopup_">
                    <label class="control-label col-md-3">@Html.Translate("menuSelectPermission") <span class="required"> *</span></label>
                    <div class="col-md-9">
                        <textarea disabled id="menuUserUpdateNameList_" style="width: 100%" class="form-control" rows="10"></textarea>
                        <input type="hidden" disabled id="menuValueList_" style="width: 100%" class="form-control" />
                    </div>
                </div>
            </div>


            <div class="modal-footer col-md-12 ">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="ClearCompanyUserInsertPopup()">@Html.Translate("cancel")</button>
                <button type="submit" class="btn green" ng-disabled="generalValidation" ng-click="UpdateCompanyUser($parent.AssignPopup)">@Html.Translate("save")</button>
            </div>
        </div>

    </div>


</div>