@using MultiLanguage.ExtensionMethods

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ReportHistoryController">

    <div class="portlet light portlet-fit bordered col-md-12">
        <div class="portlet-title">
            <div class="caption font-dark-gray" style="color:#678098">
                <i class="fa fa-bookmark font-dark-gray" style="color:#678098"></i>
                <span class="caption-subject bold uppercase">
                    @Html.Translate("reportHistory")
                </span>
            </div>
        </div>

        <div ng-show="registerCount===0">
            <h3 style="text-align: center;color:#678098">@Html.Translate("recordNotFoundforListing")</h3>
        </div>

        <!--Table Body-->
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless" ng-show="registerCount>0">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table table-hover table-light" ng-table="TableParams" style="margin-bottom: 50px !important;">

                            <colgroup>
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />

                            </colgroup>

                            <tbody>
                                <tr ng-repeat="_ in $data">
                                    <td data-title="'@Html.Raw(Html.Translate("comment"))'" filter="{ Comment: 'text'}" sortable="'Comment'">
                                        <span>{{_.Comment}}</span>
                                    </td>
                                    <td data-title="'@Html.Raw(Html.Translate("insertDate"))'" filter="{ InsertDate: 'text'}" sortable="'InsertDate'">
                                        <span>{{_.InsertDate}}</span>
                                    </td>
                                    <td data-title="'@Html.Raw(Html.Translate("reportSubject"))'" filter="{ ReportSubject: 'text'}" sortable="'ReportSubject'">
                                        <span>{{_.ReportSubject}}</span>
                                    </td>
                                    <td data-title="'@Html.Raw(Html.Translate("reportDetail"))'" filter="{ ReportDetail: 'text'}" sortable="'ReportDetail'">
                                        <span>{{_.ReportDetail}}</span>
                                    </td>
                                    <td data-title="'@Html.Raw(Html.Translate("statu"))'" filter="{ Statu: 'select'}" sortable="'Statu'" filter-data="reportStatusFilter">
                                        <span>{{_.ReportStatu.Text}}</span>
                                    </td>
                                    <td data-title="'@Html.Raw(Html.Translate("itemName"))'" filter="{ ItemId: 'text'}" sortable="'ItemId'">
                                        <span>{{_.Item.Name}}</span>
                                    </td>
                                    <td data-title="'@Html.Raw(Html.Translate("itemType"))'" filter="{ ItemType: 'select'}" sortable="'ItemType'" filter-data="ItemTypesFilter">
                                        <span>{{_.ItemTypeTextValue.Text}}</span>
                                    </td>
                                    <td data-title="'@Html.Raw(Html.Translate("assignmentUser"))'" filter="{ AssignmentId: 'text'}" sortable="'AssignmentId'">
                                        <span>{{_.Assignment.UserName}}</span>
                                    </td>
                                    <td data-title="'@Html.Raw(Html.Translate("respondingUser"))'" filter="{ UserId: 'text'}" sortable="'UserId'">
                                        <span>{{_.User.UserName}}</span>
                                    </td>

                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="6" class="no-margin no-padding">
                                        <span class="label label-primary" style="margin-left: -20px; font-size: 11px;"> @Html.Translate("totalNumberofRecords"): {{registerCount}}</span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@section PageScript
    {
    <script src="~/AngularControllers/Services/UserService.js"></script>
    <script src="~/AngularControllers/Services/EnumService.js"></script>
    <script src="~/AngularControllers/Services/ReportService.js"></script>
    <script src="~/AngularControllers/Controllers/Report/ReportHistoryController.js"></script>
}
