@using MultiLanguage.ExtensionMethods

<!--Add Popup-->
<div id="AddFixturePopup" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width: 580px;z-index:10052!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title danger">@Html.Translate("addFixture")</h4>
            </div>
            <div class="scroller" style="height: 370px" data-always-visible="0" data-rail-visible1="1">
                <div class="modal-body">
                    <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" name="FixtureForm">
                        <div class="col-md-6">
                            <span>@Html.Translate("name")</span>
                            <input ng-model="Pop.Name" style="font-size: 14px;" type="text" class="form-control" required>
                        </div>

                        <div class="col-md-6">
                            <span>@Html.Translate("model")</span>
                            <select class="form-control select2" ng-model="Pop.ModelNo" required>
                                <option ng-repeat="x in FixtureModels" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>

                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("bill")</span>
                            <select class="form-control select2" ng-model="Pop.BillNo">
                                <option ng-repeat="x in Bills" type="number" ng-value="{{x.Id}}">{{x.BillNo}}</option>
                            </select>
                        </div>

                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("statu")</span>
                            <select class="form-control select2" ng-model="Pop.StatuNo" required>
                                <option ng-repeat="x in ItemStatus" type="number" ng-value="{{x.Value}}">{{x.Text}}</option>
                            </select>
                        </div>

                        <div class="col-md-6" ng-show="Pop.StatuNo==3" style="margin-top: 2%;">
                            <span>@Html.Translate("user")</span>
                            <select class="form-control select2" ng-model="Pop.UserNo" ng-required="Pop.StatuNo==3">
                                <option ng-repeat="x in Users" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>

                        <div class="col-md-6" ng-show="Pop.StatuNo==3" style="margin-top: 2%;">
                            <span>@Html.Translate("reCallActive")</span>
                            <input ng-model="Pop.checkRecallDate" type="checkbox" class="form-control">
                        </div>

                        <div class="col-md-6" ng-show="Pop.StatuNo==3" style="margin-top: 2%;">
                            <span>@Html.Translate("reCallDate")</span>
                            <input ng-model="Pop.recallDate" ng-disabled="Pop.checkRecallDate!==true" style="font-size: 14px;" type="date" class="form-control col-md-7">
                        </div>

                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("category")</span>
                            <select class="form-control select2" ng-model="Pop.CategoryNo" required>
                                <option ng-repeat="x in Categories" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="margin-top:43%;">
                    <input type="hidden" />
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">@Html.Translate("cancel")</button>
                    <button type="submit" class="btn red" ng-disabled="FixtureForm.$invalid" ng-click="AddFixture()">@Html.Translate("save")</button>
                </div>
            </div>
        </div>
    </div>
</div>