@using MultiLanguage.ExtensionMethods

<!--Add Popup-->
<div id="AddSituation" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width: 580px; z-index: 10052 !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title danger">@Html.Translate("addAccessory")</h4>
            </div>
            <div style="height: 310px" data-always-visible="0" data-rail-visible1="1">
                <div class="modal-body">
                    <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" name="AccessoryForm">
                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("name")</span>
                            <input ng-model="Pop.Name" style="font-size: 14px;" type="text" class="form-control" required>
                        </div>

                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("piece")</span>
                            <input ng-model="Pop.Piece" style="font-size: 14px;" type="number" class="form-control" required>
                        </div>

                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("price")</span>
                            <input ng-model="Pop.Price" style="font-size: 14px;" min="0" type="number" class="form-control" required>
                        </div>

                        @*<div class="col-md-9">
                                <span>Bill No</span>
                                <input ng-model="Pop.BillNo" style="font-size: 14px;" type="number" class="form-control" required>
                            </div>*@

                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("billNo")</span>
                            <select class="form-control select2" ng-model="Pop.BillNo">
                                <option ng-repeat="x in Bills" type="number" ng-value="{{x.Id}}">{{x.BillNo}}</option>
                            </select>
                        </div>

                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("modelNo")</span>
                            <select class="form-control select2" ng-model="Pop.ModelNo" required>
                                <option ng-repeat="x in AccessoryModels" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>

                        <div class="col-md-6" style="margin-top: 2%;">
                            <span>@Html.Translate("categoryNo")</span>
                            <select class="form-control select2" ng-model="Pop.CategoryNo" required>
                                <option ng-repeat="x in  Categories" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="margin-top: 35%;">
                    <input type="hidden" />
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">@Html.Translate("cancel")</button>
                    <button type="submit" class="btn red" ng-disabled="AccessoryForm.$invalid" ng-click="AddAccessory()">@Html.Translate("save")</button>
                </div>
            </div>
        </div>
    </div>
</div>